<template>
  <div class="home">
    <NavBar/>
    <Login/>
    <Rodape/>
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from "@/components/NavBar.vue";
import Login from "@/components/Login.vue";
import Rodape from "@/components/Rodape.vue";

export default {
  name: "Home",
  components: {
    NavBar,
    Login,
    Rodape,
  },
};
</script>
