<template>
    <div>
        <NavBar/>
        <div class="fundo">
            <b-carousel
                id="carousel"
                style="text-shadow: 2px 2px 2px #000"
                :interval="4000"
                no-hover-pause
                fade
                controls
                indicators
                img-width="1024"
                img-height="480"
            >
                <b-carousel-slide
                    content-visible-up="sm"
                    caption="Breaking Bad"
                    text="Série Breaking Bad, considerada por muitos a melhor série."
                    img-src="https://images6.alphacoders.com/321/thumb-1920-321927.jpg"
                ></b-carousel-slide>

                <b-carousel-slide
                    content-visible-up="sm"
                    caption="Mr.Robot"
                    text="Mr.Robot, o protagonista da série, Elliot, é simplesmente um gênio."
                    img-src="https://www.amigosdoforum.com.br/wp-content/uploads/2017/10/mrrobots03e02.jpg"
                ></b-carousel-slide>

                <b-carousel-slide
                    content-visible-up="sm"
                    caption="Vikings"
                    text="Conta a história de Ragnar Lothbrok e suas conquistas, o maior viking já conhecido."
                    img-src="https://www.teahub.io/photos/full/209-2098867_red-sail-of-a-viking-ship-wallpapers-and.jpg"
                ></b-carousel-slide>

                <b-carousel-slide
                    content-visible-up="sm"
                    caption="Irmão do Jorel"
                    text="Série de animação, mostra o dia-a-dia do irmão do Jorel, além de nacional e de ser um ótimo desenho, conta ainda com a ilustre personagem Vovó Juju."
                    img-src="https://i.pinimg.com/originals/42/a7/d2/42a7d2e61c6b8758ea7794a4bfb6f38f.png"
                class="cor" ></b-carousel-slide>
            </b-carousel>
        </div>
    </div>
</template>

<script>

import NavBar from "@/components/NavBar.vue"

export default {
    name: "Carrossel",
    components: {
        NavBar,
    },
}
</script>

<style>

.fundo{
    padding: 20px;
    background-color: skyblue;
    width: 100%;
    height: 100%;
}
</style>