<template>
    <div>

        <div class="login">
            <b-form>
                <h2 class="text-center"> LOGIN </h2>
                
                <b-form-group
                label="E-mail"
                label-for="email"
                >
                    <b-form-input
                    id="email"
                    type="email"
                    placeholder="Digite seu email"
                    autocomplete="off"
                    v-model.trim="$v.form.email.$model"
                    :state="getValidation('email')"
                    ></b-form-input>
                </b-form-group>
                
                <b-form-group
                label-for="password"
                >
                    <label class="d-flex justify-content-between">
                        Senha
                        <a href="#"> <b> Esqueceu sua senha ? </b> </a>
                    </label>

                    <b-form-input
                    id="password"
                    type="password"
                    placeholder="Insira sua senha"
                    v-model.trim="$v.form.password.$model"
                    :state="getValidation('password')"
                    ></b-form-input>
                </b-form-group> <br>

                <b-button
                pill
                type="button"
                variant="success"
                block
                @click="login"
                > Logar </b-button> <hr>

                <b-button
                pill
                type="button"
                variant="primary"
                block
                > Cadastrar </b-button>
    
            </b-form>
        </div>

    </div>    
</template>

<script>

import { required, minLength, email } from "vuelidate/lib/validators";

export default {

    data() {
        return {
            form: {
                email: "",
                password: ""
            }
        }
    },
    
    validations: {
        form: {
            email: {
                required,
                email
            },

            password: {
                required,
                minLength: minLength(4)
            },
        }
    },

    methods: {
        login() {
            this.$v.$touch();
            if(this.$v.$error) {
                return;
            }
        },

        getValidation(field) {
            if(this.$v.form.$dirty === false){
                return null;
            }

            return !this.$v.form[field].$error;
        }
    },
}

</script>

<style>

.login{
    padding: 4rem 4rem;
    background-color: skyblue;
}
</style>