<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="dark">
            
            <b-navbar-brand>
                <router-link to="/">
                    <img src="https://cdn-icons-png.flaticon.com/512/13/13910.png" width="40px"/>
                </router-link>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <!-- Botões com link -->
            <b-collapse id="nav-collapse" is-nav>

                <b-navbar-nav class="ml-auto">
                    <b-nav-item href="#"> Quem somos ? </b-nav-item>
                    <b-nav-item>
                        <router-link to="/carrossel" style="color: #FFFFFF80; text-decoration: none;"> Projetos
                        </router-link>
                        <!-- <a href="/carrossel" @click="$router.push({ name: 'Carrossel' })"> Projetos </a> -->
                    </b-nav-item>
                    <b-nav-item-dropdown text="Contato">
                        <b-dropdown-item href="#"> Email </b-dropdown-item>
                        <b-dropdown-item href="#"> Telefone </b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>

                <!-- Botão para pesquisa e busca -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-form>
                        
                        <b-form-input type="search" size="sm" class="mr-sm-1" placeholder="Pesquisar"></b-form-input>
                        <b-button pill variant="outline-secondary"> Buscar </b-button>
                        
                    </b-nav-form>
                </b-navbar-nav>

            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>

export default {
    name: "NavBar",
}
</script>

<style>

</style>