<template>

    <div class="fundo">
        <b-container fluid="sm">
            <b-row>
                <b-col>
                    <h4> Endereço: </h4> <br>
                    <p>
                        Rua: Avenida Searence <br> <br> Número: 22 A <br> <br> Cidade: Malatre
                    </p>
                </b-col>

                <b-col>
                    <h4> Redes Sociais: </h4> <br>
                    <a href="#" style="color: black;"> INSTAGRAM </a> <br> <br>
                    <a href="#" style="color: black;"> FACEBOOK </a> <br> <br>
                    <a href="#" style="color: black;"> TWITTER </a> <br> <br>
                </b-col>
                    
                <b-col class="imagem">
                    <img src="https://cdn-icons-png.flaticon.com/512/13/13910.png" width="100px"/>
                </b-col>
            </b-row>
        </b-container>
    </div>
  
</template>

<script>
export default {
    name: "Rodape",
}
</script>

<style>

.imagem{
    display: flex;
    justify-content: end;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.fundo{
    padding: 2rem;
    background-color: skyblue;
    color: black;
}

</style>
